<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User list</title>
</head>
<body>

    <h1>List of users</h1>
    <ul>
        <% data.data.forEach((user)=>{ %>
            <li>
                <h2>
                    <%= user.email %>
                </h2>
            </li>
            <!-- <hr /> -->
        <%}) %>
    </ul>
    
</body>
</html>
